{% extends 'base.html' %}

{% block title %}Detroit 2020{% endblock %}

{% block content %}
    <div class="container" id="text">
        <h1 class="title">Detroit 2020</h1>
        <div class="content">
            <p>Went to Detroit to see a Larry June show. It was March 2020. As we were driving to Detroit we were receiving news of the first COVID-19 outbreaks in PA/ Allegheny County.
            </p>
            <p>
            We began to assume the worst but we were already committed so we continued on. Upon arriving in Detroit it was clear we weren't seeing a concert. It looked like they were already under lock down conditions.
            </p>
            <p>
            We made the best of the trip anyways.
            </p>
        </div>
    </div>
    <div class="container" id="gallery">
        <div class="columns is-vcentered">
            <div class="column">
                <a href={{ detroit1 }} rel="lightbox">
                    <img src={{ detroit1 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>

            <div class="column">
                <a href={{ detroit2 }} rel="lightbox">
                    <img src={{ detroit2 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>
        </div>
        <div class="columns is-vcentered">
            <div class="column">
                <a href={{ detroit3 }} rel="lightbox">
                    <img src={{ detroit3 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>

            <div class="column">
                <a href={{ detroit4 }} rel="lightbox">
                    <img src={{ detroit4 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>
        </div>
        <div class="columns is-vcentered">
            <div class="column">
                <a href={{ detroit5 }} rel="lightbox">
                    <img src={{ detroit5 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>

            <div class="column">
                <a href={{ detroit6 }} rel="lightbox">
                    <img src={{ detroit6 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>
        </div>
        <div class="columns is-vcentered">
            <div class="column">
                <a href={{ detroit7 }} rel="lightbox">
                    <img src={{ detroit7 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>

            <div class="column">
                <a href={{ detroit8 }} rel="lightbox">
                    <img src={{ detroit8 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>
        </div>
        <div class="columns is-vcentered">
            <div class="column">
                <a href={{ detroit9 }} rel="lightbox">
                    <img src={{ detroit9 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>

            <div class="column">
                <a href={{ detroit10 }} rel="lightbox">
                    <img src={{ detroit10 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>
        </div>
        <div class="columns is-vcentered">
            <div class="column">
                <a href={{ detroit11 }} rel="lightbox">
                    <img src={{ detroit11 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>

            <div class="column">
                <a href={{ detroit12 }} rel="lightbox">
                    <img src={{ detroit12 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>
        </div>
        <div class="columns is-vcentered">
            <div class="column">
                <a href={{ detroit13 }} rel="lightbox">
                    <img src={{ detroit13 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>

            <div class="column">
                <a href={{ detroit14 }} rel="lightbox">
                    <img src={{ detroit14 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>
        </div>
{% endblock %}
