{% extends 'mkemorgn/base.html' %}

{% block title %}Denver 2020{% endblock %}

{% block content %}
    <div class="container" id="text">
        <h1 class="title">Denver 2020</h1>
        <div class="content">
            <p>Lombe and I were tired of being in the house, and I had a friend that was going on about how great Denver was/is.</p>
            <p>I was in our office and I turned around and said: "You want to go to Denver?"</p>
            <p>Dever turned out to be one of our favorite cities and one of my favorite trips we've ever taken together.</p>
        </div>
    </div>
    <div class="container" id="gallery">
        <div class=" columns is-vcentered">
            <div class="column">
                <a href={{ denver1 }} rel="lightbox">
                    <img src={{ denver1 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>

            <div class="column">
                <a href={{ denver2 }} rel="lightbox">
                    <img src={{ denver2 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>
        </div>
        <div class=" columns is-vcentered">
            <div class="column">
                <a href={{ denver3 }} rel="lightbox">
                    <img src={{ denver3 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>

            <div class="column">
                <a href={{ denver4 }} rel="lightbox">
                    <img src={{ denver4 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>
        </div>
        <div class=" columns is-vcentered">
            <div class="column">
                <a href={{ denver5 }} rel="lightbox">
                    <img src={{ denver5 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>

            <div class="column">
                <a href={{ denver6 }} rel="lightbox">
                    <img src={{ denver6 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>
        </div>
        <div class=" columns is-vcentered">
            <div class="column">
                <a href={{ denver7 }} rel="lightbox">
                    <img src={{ denver7 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>

            <div class="column">
                <a href={{ denver8 }} rel="lightbox">
                    <img src={{ denver8 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>
        </div>
        <div class=" columns is-vcentered">
            <div class="column">
                <a href={{ denver9 }} rel="lightbox">
                    <img src={{ denver9 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>

            <div class="column">
                <a href={{ denver10 }} rel="lightbox">
                    <img src={{ denver10 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>
        </div>
        <div class=" columns is-vcentered">
            <div class="column">
                <a href={{ denver11 }} rel="lightbox">
                    <img src={{ denver11 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>

            <div class="column">
                <a href={{ denver12 }} rel="lightbox">
                    <img src={{ denver12 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>
        </div>
        <div class=" columns is-vcentered">
            <div class="column">
                <a href={{ denver13 }} rel="lightbox">
                    <img src={{ denver13 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>

            <div class="column">
                <a href={{ denver14 }} rel="lightbox">
                    <img src={{ denver14 }} class="gallery__image" data-lightbox="image-1">
                </a>
            </div>
        </div>
{% endblock %}
