{% extends 'mkemorgn/base.html' %}

{% block title %}LA 2021{% endblock %}

{% block content %}
    <div class="container" id="text">
        <h1 class="title">LA 2021</h1>
        <div class="content">
            <p>My brother-in-law was shooting a campaign for his clothing company and invited me out to help him shoot some stuff in the studio.</p>
            <p>I would never miss out on an opportunity to be back in Cali.</p>
            <p>It was a great trip and I'm grateful for the opportunity.  While I was out there I was able to link up with some old friends from my years in the military and that was probably the highlight of the trip for me.</p>
        </div>
    </div>
<div class="container" id="gallery">
    <div class="columns is-vcentered">
        <div class="column">
            <a href={{ la1 }} rel="lightbox">
                <img src={{ la1 }} class="gallery__image" data-lightbox="image-1">
            </a>
        </div>

        <div class="column">
            <a href={{ la2 }} rel="lightbox">
                <img src={{ la2 }} class="gallery__image" data-lightbox="image-1">
            </a>
        </div>
    </div>
    <div class="columns is-vcentered">
        <div class="column">
            <a href={{ la3 }} rel="lightbox">
                <img src={{ la3 }} class="gallery__image" data-lightbox="image-1">
            </a>
        </div>

        <div class="column">
            <a href={{ la4 }} rel="lightbox">
                <img src={{ la4 }} class="gallery__image" data-lightbox="image-1">
            </a>
        </div>
    </div>
    <div class="columns is-vcentered">
        <div class="column">
            <a href={{ la5 }} rel="lightbox">
                <img src={{ la5 }} class="gallery__image" data-lightbox="image-1">
            </a>
        </div>

        <div class="column">
            <a href={{ la6 }} rel="lightbox">
                <img src={{ la6 }} class="gallery__image" data-lightbox="image-1">
            </a>
        </div>
    </div>
    <div class="columns is-vcentered">
        <div class="column">
            <a href={{ la7 }} rel="lightbox">
                <img src={{ la7 }} class="gallery__image" data-lightbox="image-1">
            </a>
        </div>

        <div class="column">
            <a href={{ la8 }} rel="lightbox">
                <img src={{ la8 }} class="gallery__image" data-lightbox="image-1">
            </a>
        </div>
    </div>
    <div class="columns is-vcentered">
        <div class="column">
            <a href={{ la9 }} rel="lightbox">
                <img src={{ la9 }} class="gallery__image" data-lightbox="image-1">
            </a>
        </div>

        <div class="column">
            <a href={{ la10 }} rel="lightbox">
                <img src={{ la10 }} class="gallery__image" data-lightbox="image-1">
            </a>
        </div>
    </div>
    <div class="columns is-vcentered">
        <div class="column">
            <a href={{ la11 }} rel="lightbox">
                <img src={{ la11 }} class="gallery__image" data-lightbox="image-1">
            </a>
        </div>

        <div class="column">
            <a href={{ la12 }} rel="lightbox">
                <img src={{ la12 }} class="gallery__image" data-lightbox="image-1">
            </a>
        </div>
    </div>
{% endblock %}
