{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container" id="about">
  <div class="columns">
    <div class="column">
      {% for url in about_photo %}
        <img src="{{ url }}">
      {% endfor %}
    </div>
    <div class="column" id="about-text">
      <div class="content">
        <p>My name is Mike, and I live in Pittsburgh, PA.  My photos are always taken from a 'fly on the wall' perspective as I'd prefer not to disturb the scene.  I'm attracted to landscapes.</p>
        <p>Most of the time I'm in a city or town so the 'landscape' is more of an urban landscape so that's what I capture.  But I also love to make tradtional landscape photos of wide open land as well, when I have the chance.</p>
        <p>Currently I'm working on a project where I'm documenting towns along the Ohio River, with hopes to turn the photos into a book.</p>
        <p>When I'm not making photos I'm usually messing with some software on my computer, including this website, and those projects can be seen on my GitHub page if you're interested in that.</p>
        <a href="mailto:mkemorgn@gmail.com">E-Mail</a> me for any inquiries.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
