{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container" id="gallery">
    <div class="columns">
        <div class="column">
            <a href="{{ one }}" rel="lightbox">
                <img src="{{ one }}" width="640" height="360" class="gallery__image" data-lightbox="image-1">
            </a>
        </div>

        <div class="column">
            <a href="{{ two }}" rel="lightbox">
                <img src="{{ two }}" width="640" height="360" class="gallery__image" data-lightbox="image-1">
            </a>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <a href="{{ three }}" rel="lightbox">
                <img src="{{ three }}" width="640" height="360" class="gallery__image" data-lightbox="image-1">
            </a>
        </div>

        <div class="column">
            <a href="{{ four }}" rel="lightbox">
                <img src="{{ four }}" width="640" height="360" class="gallery__image" data-lightbox="image-1">
            </a>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <a href="{{ five }}" rel="lightbox">
                <img src="{{ five }}" width="640" height="360" class="gallery__image" data-lightbox="image-1">
            </a>
        </div>

        <div class="column">
            <a href="{{ six }}" rel="lightbox">
                <img src="{{ six }}" width="640" height="360" class="gallery__image" data-lightbox="image-1">
            </a>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <a href="{{ seven }}" rel="lightbox">
                <img src="{{ seven }}" width="640" height="360" class="gallery__image" data-lightbox="image-1">
            </a>
        </div>

        <div class="column">
            <a href="{{ eight }}" rel="lightbox">
                <img src="{{ eight }}" width="640" height="360" class="gallery__image" data-lightbox="image-1">
            </a>
        </div>
    </div>
</div>
{% endblock %}
