<nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" id="nav-item" href="{% url 'index' %}">
        <strong>mkemorgn</strong>
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
  </div>

  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" id="nav-item" href="{% url 'trips' %}">
        Trips
      </a>
      <a class="navbar-item" id="nav-item" href="{% url 'about' %}">
        About
      </a>
    </div>
  </div>
</nav>
