{% extends 'base.html' %}

{% block title %}Trips{% endblock %}

{% block content %}
<div class="columns">
    <div class="column">
        <div class="box">
            <h1>
                Detroit 2020
            </h1>
            <img src={{ detroit }}>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <h1>
                Denver 2021
            </h1>
            <img src={{ denver }}>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <h1>
                LA 2021
            </h1>
            <img src={{ la }}>
        </div>
    </div>
</div>
{% endblock %}
